body {
    background-image: url(bg.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(189, 189, 189);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 30px; /* Jarak antara converter dan riwayat */
}

.converter-box {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.riwayat-box {
    font-size: large;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    max-height: 400px;
    overflow-x: auto /* Agar riwayat bisa di-scroll jika terlalu panjang */
}

.riwayat-item {
    color: #333;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.form-group input,
.form-group select {
    font-size: 16px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.result {
    margin-top: 20px;
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333;
    font-size: 14px;
}
